<table class="table-striped">
  <thead>
    <tr>
      <th>
        Subtitle
      </th>
      <th>
        Source
      </th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="sub in subtitles" ng-click="open(sub.url)">
      <td>{{sub.text}}</td>
      <td>{{sub.source}}</td>
    </tr>

    <tr ng-show="!subtitles.length && loading">
      <td colspan="2">Loading...</td>
    </tr>

    <tr ng-show="!subtitles.length && !loading">
      <td colspan="2">Cannot find any subtitles</td>
    </tr>

  </tbody>
</table>
